.button-square, .button-rectangle, .button-diamond, .button-triangle, .button-circle, .button-result {
     -fx-background-color: #CA3E47;
     -fx-background-radius: 30px;
}

.button-square:pressed, .button-rectangle:pressed, .button-diamond:pressed, .button-triangle:pressed, .button-circle:pressed, .button-result:pressed {
    -fx-background-color: #CF0D19;
}
